.bfimg {
    background-image: url('intestazione blu.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;

}


.special .card-body {
  flex-grow: 0;
}

.card-img, .card-img-top {
    max-height: 300px !important
}