.bfimg {
    background-image: url('Sito_Buja/Sito_Anziani_static/images/intestazione blu.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;

}


.special .card-body {
  flex-grow: 0;
}

.card-img, .card-img-top {
    max-height: 150px !important
}